.header {
    position: absolute;
    top: 63px;
    left: 0;
    right: 0;
    z-index: 10;

    &__inner {
        justify-content: space-between;
        align-items: center;
    }

    &__box {
        justify-content: space-between;
        align-items: center;
        max-width: 781px;
        width: 100%;
    }

    &__item {
        display: inline-block;

        &+& {
            margin-left: 48px;
        }
    }

    &__link {
        font-size: 14px;
        font-weight: 700;
        color: white;
    }

    &__btn {
        border-color: white;
    }
}